body{
  background: rgb(18, 18, 165);
  box-sizing: border-box;
  font-family:'Patua One', cursive;


} 

/* Style the header */
.header {

  background-color: white;
  /* padding: 1030px; */
  text-align: center;
  font-size: 35px;
  margin:0;
  text-decoration-style: none;
  -webkit-align-self: center; 
  align-self: center;
  color:white;

 
}
 .header img{
     justify-content:left;
     align-content: left;
     float: left;
     height: 200px;
 }  


h1{
  padding: 10px;
  color: black;
  margin: auto;
  font-size: 80px;
  text-align: center;
  background-color: floralwhite;
  -webkit-align-self: center; 
  align-self: center;
  border-radius: 5px solid black;
}

p{
  padding: 10px;
}

.grid-container {
  display: grid;
  height: 1000px;
  border-radius: 2px solid black;
  align-content: center;
  grid-template-columns: auto auto ;
  grid-gap: 20px;
  background-color: rgb(6, 47, 80);
  padding: 10px;
}

.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px ;
  font-size: 60px;
  align-content: center;
  height: 400px;

}







/* Style the footer */
.footer {
  background-color: black ;
  padding: 10px;
  text-align: center;

}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media (max-width: 600px) {
  .row {
      -webkit-flex-direction: column;
      flex-direction: column;
  }
}

